@font-face {
  font-family: "Libre Baskerville";
  src: url('https://fonts.googleapis.com/css?family=Libre+Baskerville');
}

body {
  //font-family: "Libre Baskerville"
  background-color: antiquewhite !important;

}

.navbar {
  background-color: antiquewhite !important;

}
.navbar-brand {
  font-size: 2.5em;

}

.searchBar {
  padding-top: 100px;
  padding-bottom: 20px;

  input {
    height: 2.5em !important;
    border-radius: 2em !important;
    font-size: 1.5em !important;
    text-indent: 1em !important;
    border-width: 3px !important;
  }
}

.oldText {
  //font-family: "Libre Baskerville";
}

.quoteContainer {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;

  img {
    height: 220px;
    width: 220px;
    flex: none;
  }

  .textExtraContainer {
    display: flex;
    align-items: center;
    padding-left: 50px;

    .quoteBody {
      //font-family: "Libre Baskerville";
      font-size: 1.5em;
    }

    .quoteAuthor {
      //font-family: "Libre Baskerville";
      color: gray;
      font-size: 1.4em;
    }
  }

}